<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>Request Header Parser Microservice</h2>

        <h3>Example Usage:</h3>
        <p>
          <a href="api/whoami">[base url]/api/whoami</a>
        </p>

        <h3>Example Output:</h3>
        <p class="output">
          <code>{
            "ipaddress": "187.32.80.158",</p><br/>
            <p>"language": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36 Edg/92.0.902.73",</p><br/>
            <p>"software": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6"
          }</code>
        </p>
      </div>
      <div class="footer">
        <p>
          By <spam>Heverton Vieira Horvat Barbosa</spam>, a <a href="https://www.freecodecamp.org/">FCC</a> challenge.
        </p>
        <p>Have a look on my <a href="#" target="_blank">LinkedIn</a> and <a href="https://github.com/hverton1a/Timestamp_microservice.git" target="_blank">Github</a></p>
      </div>
   </body>


</html>
